.crgr_block {
    align-items: center;
    color: var(--cl-text-black);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    a {
        color: var(--cl-text-black);
    }
}