.task {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    .task_info {
        background-color: var(--text-color-light);
        border-radius: 0 0 10px 10px;
        padding: 20px 40px;
        // height: 130px;
        h2 {
            margin-top: 0;
        }
        .row {
            display: flex;
            justify-content: space-between;
            .group {
                background-color: var(--theme-color-1);
                color: var(--white-color-1);
                margin-right: 4px;
                padding: 2px;
                border-radius: 4px;
                font-size: 14px;
                line-height: 14px;

            }
            .teacher {
                
            }
        }
    }
    .labs {
        // width: 100%;
        // margin-right: auto;
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, auto);//repeat(4, minmax(50px, 1fr));
        .deadline {
            background: url('../../../assets/clock.svg');
            background-repeat: no-repeat;
            background-position: left center;
            
            padding-left: 25px;
        }
    }

    .labs > * {
        // min-height: 70px;
        padding: 12px;
        display: flex;
        // text-align: center;
        justify-content: center;
        align-items: center;
    }
    .labs > *:nth-child(8n) {
        background-color: var(--white-color-2);
        border-radius: 0 10px 10px 0;
    }
    
    .labs_column {
        position: relative;
    }
    .labs_column:not(:nth-child(3)) > h3::after{
        content:'';
        width: 2px;
        height:30%;
        display:block;
        background-color: var(--text-color-dark);
        position:absolute;
        right: 0;
        top: 30px;
        border-radius: 5px;
      }
    .labs > *:nth-child(8n - 1),  .labs > *:nth-child(8n - 2) {
        background-color: var(--white-color-2);
        // border-radius: 0 8px 8px 0;
    }
    .labs > *:nth-child(8n - 3) {
        background-color: var(--white-color-2);
        border-radius: 10px 0 0 10px;
    }
    .lab_buttons {
        display: flex;
        // width: 100%;
        justify-content: end;
        gap: 10px;
    }
    .lab_buttons > * {
        width: 60px;
        height: 45px;
    }
}