.big_button {
    height: 36px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--bg-color-light);
    color: var(--text-color-gray);
    border: none;
    font-weight: 700;
    font-size: 16px;
    
    
}

.bg_color_1 {
    background-color: var(--theme-color-1);
    color: var(--white-color-1)
}
.bg_color_2 {
    background-color: var(--theme-color-2);
}
